img#title-img{
  width: 100%;
}
.title{
  padding-top: 80px;
}
.content{
  padding: 0 10%;
}
body#hire{
  background-color: #efefef;
  color: #6e6e6e;
  font-size: 16px;
}


@media screen and (max-width: 900px) {
  .main-container {
    padding: 0 30px !important; }

  nav .logo-wrapper {
    padding: 0 30px !important; }

  a.btn-left, a.btn-right {
    margin-top: 100px;
    width: 30px !important;
    height: 30px !important; }

  .navigation {
    display: none !important;
  }

  a.menu {
    display: block;
  }

  .logo {
    width: 336px !important;
    height: 37px !important;
    background-size: 80% !important;
    background-position: left center !important;
    margin-top: 23px !important;
  }
